<h1><%= @space.name %></h1>
<h2><%= @space.description %></h2>

<div class='datepicker'></div>
<p>Check in: <input id='check_in' size='12' name='check_in' type='text' /></p>
<p>Check out: <input id='check_out' size='12' name='check_out' type='text' /></p>

<script src="/js/datepicker.js"></script>
<!-- <script>console.log(gon.available_dates)</script> -->
