<h1>List a Space</h1>
<form action="/spaces/new" method="post">
  <input id="spaceName" name="name" type="text" placeholder="Name" required>
  <textarea id="spaceDescription" name="description" type="text" rows="4" cols="80" placeholder="Description" required></textarea>
  <button id="listMySpace" type="submit">List my Space</button>
</form>
