<h1>List a Space</h1>
<form action="/spaces/new" method="post">
  <input id="spaceName" name="name" type="text" placeholder="Name" required>
  <button id="listMySpace" type="submit">List my Space</button>
</form>
