/* LOGIN AND REGISTER FORM */
.panel-login, .notHome {
	border-color: #D3D3D3;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 100px;
}
.panel-login>.panel-heading {
	color: #00415d;
	/*background-color: #fff;*/
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #f68544;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"], input[type="date"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
  text-align: center;
  font-size: 18px;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn {
	background-color: #f68544;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #f68544;
}
.btn:hover,
.btn:focus {
	color: #fff;
	background-color: #f68544;
	border-color: #f68544;
}

/* BOOTSTRAP RESETS */
body {
  background-image:url('../images/favela.jpg');
  background-position: top;
  font-family: 'Quicksand', sans-serif;
}
.error {
  font-size:16px;
  font-weight: bold;
}
.panel {
  background-color: transparent;
  margin-bottom: 0;
}
.panel-default {
  border-color: transparent;
}
/* NAV BAR */
.navbar {
  margin: 0;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-nav>li>a {
  color: black;
}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}
.userProfile {
  text-align: right;
  display: inline;
}
/* All sizes */
::-webkit-input-placeholder {
   color: #909090;
   font-size: 18px;
}
/* Large desktop */
@media (min-width: 1200px) { ... }
  .home {
    margin-top: 85px;
  }
  .siteName {
    font-size: 90px;
    font-weight: bold;
    color: #f68544;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .siteTag {
    font-size: 18px;
    margin: 0 0 25px 0;
    padding: 0;
  }
  .sitePage {
    font-size: 80px;
  }
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }


/* DATEPICKER STYLES */
.dp-highlight .ui-state-default {
  background: #484;
  color: #FFF;
}
.ui-datepicker.ui-datepicker-multi  {
  width: 100% !important;
}
.ui-datepicker-multi .ui-datepicker-group {
  float:none;
}
.datepicker {
  height: 300px;
  overflow-x: scroll;
  margin: 0 auto;
}
.ui-widget {
  font-size: 100%
}
