<nav class="navbar navbar-default">
  <div class="container-fluid bg-header">
    <div class="navbar-header">
      <p class="navbar-brand" href="#">Favela</p>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li><a href="/spaces">Spaces</a></li>
      <li><a href="/requests">Requests</a></li>
    </ul>
    <div id="inline-fields userProfile">
      <form method='post' action='/sessions'>
        <label for="Log out" class=""><%= current_user.email %></label>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Log out'>
      </form>
    </div>
  </div>
</nav>
    <% else %>
      <li><a href="/spaces">Spaces</a></li>
    </ul>
  </div>
</nav>
<% end %>
