<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= include_gon %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <%= partial :navbar %>
      <%= partial :errors %>
      <%= yield %>
    </div>
  </body>
</html>
