<h1>Requests</h1>
<div class="row">
  <div class="col-sm-6">
    <h2>Requests I've made</h2>
    <% if @space_requested %>
      <% @space_requested.each do |space| %>
        <div  class="list-group-item">
          <h3><a href="/spaces/<%= space.id %>"><%= space.name %>: £<%= space.price %></a></h3>
        </div>
      <% end %>
    <% end %>

  </div>
    <div class="col-sm-6">
      <h2>Requests I've received</h2>
    </div>
  </div>
