<h1>Book a Space</h1>
<form action="/spaces/new" method="get">
  <button id="listASpace" type="submit">List a Space</button>
</form>

<section id="spaceList">
  <ul class="list-group">
    <% @spaces.each do |space| %>
      <li class="list-group-item"><%= space.name %>
        <p><%= space.description %></p>
        <p><%= space.price %></p>
      </li>
    <% end %>
  </ul>
</section>
