<h1>Book a Space</h1>
<div class="panel panel-default text-center">
  <div class="panel-body">
    <form action="/spaces/new" method="get">
      <button class="btn" id="listASpace" type="submit">List a Space</button>
    </form>
  </div>
</div>
<div class="panel panel-default text-center">
  <div class="panel-body">
    <form action="/spaces" method="get">
      <div class="form-group">
        <label for="fromDate">Available from</label>
        <input class="form-control" id="fromDate" name="from_date" type="date" required>
      </div>
      <div class="form-group">
        <label for="fromDate">Available to</label>
        <input class="form-control" id="toDate" name="to_date" type="date" required>
      </div>
      <button class="btn" id="listSpaces" type="submit">List Spaces</button>
    </form>
  </div>
</div>
<div class="panel panel-default text-left">
  <div class="panel-body">
    <div class="list-group">
      <% @spaces.each do |space| %>
        <div  class="list-group-item">
          <h3><a href="/spaces/<%= space.id %>"><%= space.name %>: £<%= space.price %></a></h3>
          <p><%= space.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
